mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			+e.head-row.row 
				.col-md
					+e.logo
						.d-none.d-md-block
							a(href="#")
								img(src="img/svg/logo-foot.svg" loading="lazy", alt="") 
						.d-md-none
							a(href="#")
								img(src="img/svg/logo.svg" loading="lazy", alt="") 
				.col-auto.d-none.d-lg-block
					+e.mail-link.text-secondary(href="mailto:info@megatonbeton.ru") info@megatonbeton.ru
				.col-md-auto
					+e.phone-link(href="tel:")
						img(src="img/svg/phone.svg", alt="")
						| +7 (495) 123-12-12
				.col-md-auto
					+e.A.btn.link-modal(href="#modal-call") Заказать звонок
			.row  
				+e.col-addr.col-md-auto
					.d-lg-none 
						+e.mail-link.text-secondary(href="mailto:info@megatonbeton.ru") info@megatonbeton.ru
					p 119192, Москва, Россия,   Мичуринский проспект&nbsp;9
					.d-none.d-lg-block
						+soc()
				 
				.col.d-none.d-lg-block
					ul
						li: a(href='#') Главная
						li: a(href='#') Компания
						li: a(href='#') Контакты
						li: a(href='#') Марки бетона
						li: a(href='#') Стройматериалы
						li: a(href='#') Прайслист
						li: a(href='#') Услуги
						li: a(href='#') Доставка
				.col-auto.order-1.order-lg-0
					+e.btn-top--js 
						span.d-none.d-md-block Наверх
						+e.icon-wrap
							+icon("chevron-up")

				.col.align-self-center.text-lg-center.text-md-right.order-lg-1
					.d-lg-none
						+soc()
					+e.policy(href="#") Политика конфиденциальности
				.w-100
				+e.col.col-md-auto.col-12.align-self-center
					+e.copy Megatonbeton.ru &mdash; <br> все права защищены &copy;&nbsp;2020.
				+e.col.col-md-auto.col-12.align-self-center.text-md-right.order-md-2
					+e.dev Дизайн&nbsp;&mdash; #[a(href="#") Artsman]
					+e.dev Разработка&nbsp;&mdash; #[a(href="#") DigitalDev]
					
				
