mixin modal() 
	//- //  start modals

	//- +b.modal-win(id="modal-call" class=" " style="display: none" )
	//- 	+form-wrap
	//- 		.text-center
	//- 			+e.title.form-data.h3.ttu Обратный звонок
	//- 			p.after-headline Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течение 15&nbsp;минут
	//- 		+input("Ваше Имя")(required)  
	//- 		+e.BUTTON.btn.btn(type="submit"  ) 
	//- 		+polite()
	//- // #modal-call
	


	+b.modal-win(id="modal-call" class=" " style="display: none" )
		+form-wrap
			.text-center
				+e.title-h Заказать звонок
			p.after-headline Оставьте заявку и наши сотрудники свяжутся с вами в кратчайшие сроки
			+input("Введите имя")
			+input("+7 (___) ___-__-__",'tel')
			+e.tb
				+e.small.ord Нажимая на&nbsp;кнопку, вы&nbsp;даете согласие на&nbsp;обработку своих персональных данных и&nbsp;соглашаетесь с&nbsp;#[a(href="#") пользовательским соглашением]
				+e.btn.or(type="submit") Отправить заявку
	// /#modal-call
 
	+b.modal-win(id="modal-orderBeton" class=" " style="display: none" )
		+form-wrap
			.text-center
				+e.title-h Заказать бетон
			p.after-headline Оставьте заявку и&nbsp;наши сотрудники свяжутся с&nbsp;вами в&nbsp;кратчайшие сроки
			+input("Марка бетона")
			+input("Введите объем")
			+input("Введите имя")
			+input("+7 (___) ___-__-__",'tel')
			+e.tb
				+e.small.ord Нажимая на&nbsp;кнопку, вы&nbsp;даете согласие на&nbsp;обработку своих персональных данных и&nbsp;соглашаетесь с&nbsp;#[a(href="#") пользовательским соглашением]
				+e.btn.or(type="submit") Отправить заявку
	// /#modal-orderBeton

	+b.modal-win(id="modal-thx" class=" " style="display: none" )
		+form-wrap
			.text-center
				+e.title-h Спасибо, ваша заявка отправлена!
			p.after-headline Мы&nbsp;свяжемся с&nbsp;вами в&nbsp;кратчайшие сроки
	// /#modal-thx




	// end modals