
	// start .sSeeAlso
	.sSeeAlso {
		--sPT: #{rem(10)};
		.row{
			@include roww(rem(30));
		}
		&__item{
			text-align: center;
			@include block; 
			@extend .h6;
			font-weight: bold;
			color: $body-color !important;
			background: #F4F4F4;
			border-radius: 5px; 
			min-height: calc(100% - #{rem(30px)});
			margin-bottom: rem(30);
			@include media-breakpoint-up(sm) {

				&:hover{
					background-color: #ffffff;
					box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
				}
			}
			img{
					@include media-breakpoint-up(sm) {

						height: rem(92);
					}
					height: rem(62);
				width: auto;
				margin-bottom: rem(20);
			}
		}
		&__inner{
			display: block;
			@include a-cent;
			// padding: rem(15);
			width: 100%;
		}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sSeeAlso