
	// start .sCalc
	.main-page .sCalc {
		padding-bottom: calc(var(--sPB) * 1.5);
	}
	.sCalc {
		.section-title{
			@include media-breakpoint-up(lg) {

				padding-top: rem(30);
			}
		}
		&__price-wrap{
			// position: relative;
		}
		&__footer{
			margin-top: -1px;
			background: #F9F9F9;
			border-radius: 3px;
			border: 1px solid #E8E8E8;
			z-index: 200;
			bottom: 0 !important;
			top: auto !important;
			position:-webkit-sticky;
			position:sticky;
			// top: 100%;
			filter: drop-shadow(0px -5px 15px rgba(0, 0, 0, 0.1));
			.strong{
				padding-top: rem(10);
				padding-bottom: rem(10);
			}
			span{
				display: inline-block;
			}
			.row{
				margin-left: 0;
				margin-right: 0;
				> div{
					padding-left: rem(30);
					padding-right: rem(30);
					display: flex;
					align-items: center;
					
				}
			}
		}
		&__btn{
			@include media-breakpoint-up(md) {

				width: rem(272);
			}
				width: 100%;
				@extend .btn;
				@extend .btn-primary;
				border-radius: 0;
				margin-top: -1px;
				margin-bottom: -1px;
				margin-right: -1px;
		}
		&__total{
			border-right: 1px solid #E8E8E8;
		}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {
		thead,
		tbody{
			display: block;
			text-align: left;
		}
		 
			tr{
				width: 100%;
			}
			th{
				display: flex;
				justify-content: center;
				align-items: center;
				
				&:last-child{
					display: none;
				}
			}
			td,
			th{
				padding-left: rem(14);
				--s1: #{(100% * 69 / 300)};
				--s2: #{(100% * 116 / 300)};
				display: flex;
				align-items: center;
				&:first-child{
					width: var(--s1);
					flex: 0 0 var(--s1);
					border-right: none;
				}
				&:nth-child(2){
					width: var(--s2);
					flex: 0 0 var(--s2);
					border-right: none;
				}
				&:nth-child(3){
					width: calc(100% - var(--s1) - var(--s2));
					flex: 0 0 calc(100% - var(--s1) - var(--s2));
				}
			 
			}
			tr{
				display: flex;
				
			}
			tbody{
				tr{
					flex-wrap: wrap;

				}
			}
			td:last-child{
				display: flex;
				width: 100%;
				padding-right: rem(14);
				justify-content: space-between;
				background: #F4F4F4;

				&::before{
					content: 'Количество кубов:';
				}
				.add{
					margin-right: 0;
				}
			}
		} 
	@include media-breakpoint-down(sm) {}

} // end.sCalc
.tabs{
	background-color: #ffffff;
	table{}
	&__caption{
		display: flex;
			@include media-breakpoint-up(md) {
				flex-wrap: nowrap;
			}
			flex-wrap: wrap;
		}
		&__btn{
							@include media-breakpoint-up(md) {
								width: (100% / 4);
							}
							width: (100% / 2);
		flex-grow: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: #888888;
		@include mt;
		background: #FFFFFF;
		border: 1px solid #E8E8E8;
		height: rem(60);
		font-weight: bold;
			@include media-breakpoint-up(md){
				margin-top: 0;
			}
			margin-top: -1px;
		&:first-child{
			border-top-left-radius: $border-radius;
		}
		&:last-child{
			border-top-right-radius: $border-radius;
		}
			@include media-breakpoint-up(md){

				&:not(:last-child){
					border-right: none;
				}
			}
		span{
				border-bottom: 1px dashed;
				// @include mt;
				transition: border .3s;
		}
		&:hover{
			span{
				border-color: transparent;
			}
		}
		&.active{
				background-color: $primary;
				color: #ffffff;
				color: $body-color;
				border-color: $primary;
			span{
				border-color: transparent;
			}
		}
	}
}
.tabs{
	table{

		margin-top: -1px;
	}
}
table{
	width: 100%;
 th{
	 background: #383838;
	 color: #ffffff;
	 border: 1px solid #4F4F4F;

 }
 td{}
 td,
 th{
	 padding: rem(3) rem(5);
	 min-height: rem(57);
	}
	td{
		
		min-height: rem(60);
 }
 tbody{
	 tr{
		 &:not(:last-child){
			 td{
				&::before{
					// display: none;
					border-bottom: none;
				}
				//  border-bottom: none;
			 }
		 }
		 	@include media-breakpoint-up(md){

				 &:hover {
					 background: #F4F4F4;
					}
				}
	 }
 }
 tr{
	 
 }
 td{
	 position: relative;
	 z-index: 2;
	 &::before{
		 content: '';
		 position: absolute;
		 left: 0;
		 top: 0;
		 z-index: -1;
		 width: calc(100% + 1px);
		 height: 100%;
		 border: 1px solid #E8E8E8;
		 
		}
		border: none;
				//  border: 1px solid #E8E8E8;
	 a{
		 border-bottom: 1px solid;
		 &:hover{
			 border-color: transparent;
		 }
	 }
 }
}

.add{
	display: flex;
	align-items: center;
	width: rem(130);
	margin-left: auto;
	margin-right: auto;
	&__btn{
		@extend .btn;
		@extend .btn-primary;
		position: relative;
		padding: 0;
		width: rem(30);
		height: rem(30);
		flex: 0 0 rem(30);
		&::before,
		&::after{
			content: '';
			@include a-cent;
			background-color:  currentColor;
		}
		&::before{
			width: rem(10);
			height: 1px;
		}
		&--plus{
			&::after{
				height: rem(10);
				width: 1px;
			}

		}
	}
	input{
		@extend .form-control;
		max-width: calc(100% - #{rem(70)});
		margin-left: rem(5);
		margin-right: rem(5);
		text-align: center;
		min-height: 1px;
		padding: rem(2) .25rem;
	}
}