mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+e.video-block.video-background 
			<video class="fillItUp video" id="bgvid" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
				<source src="video/video-sm.mp4" loading="lazy" type="video/mp4"/>
				// <source src="video/video.ogv" loading="lazy" type="video/ogv"/>
				// <source src="video/video.webm" loading="lazy" type="video/webm"/>
			</video>
		.td
			.container

				+b.section-title--before.text-center
					h1 Бетон с&nbsp;доставкой в&nbsp;Москве и&nbsp;московской области
					+e.text Доставка бетона в&nbsp;день заказа
				+form-h()
			+e.scroll-down
				+icon('chevron-down')
	// end headerBlock