// start .headerBlock
.headerBlock {
	z-index: 2;
	position: relative;
		min-height: 100vh;
		min-height: calc(var(--vh, 1vh) * 100);
		display: table;
		width: 100%; 
		@include media-breakpoint-up(md) {
			--gv: #{rem(180)}; 
		}
			
		@include media-breakpoint-up(sm) {
		--gv: #{rem(120)};
		}
		--gv: #{rem(100)};
			
		padding-top: var(--gv);
		padding-bottom: var(--gv); 
		@include media-breakpoint-up(lg) {

			margin-bottom: calc(var(--sPB) * 1.5);
		}
		margin-bottom: calc(var(--sPB)* 1.2);
		&__scroll-down{
			@include a-cent(x);
			// left: 50%;
			bottom: rem(44);
			@include mt(.6);
			cursor: pointer;
			text-align: center;
			&:hover{
				.icon{
					
					transform: translateY(15px);
				}
				// margin-top: 15px;
			}
			.icon{
				@include mt(.6);
				position: relative;
				color: #ffffff;
				font-size: rem(18);

			}
		}
		.td{
			vertical-align: middle;
			// padding-top: 117px;
		}
	h1{
		color: #ffffff;
	}
	// &::after{
	// 	content: '';
	// 	position: absolute;
	// 	left: 0;
	// 	top: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	z-index: -1;
		
	// 	opacity: 0.9;
	// }
	img{
		mix-blend-mode: hard-light;
		z-index: -1;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__video-block{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: #272727;
		video{
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: 0.4;
		}
	}

	// background-image: url(../img);
	// background-color: #000000;

	h1 {
		margin-bottom: 1px;
	}

	h2 {
		margin-bottom: 1px;
	}
	.section-title__text,
	.form-wrap__small{

		color: #B8B8B8;
		a{
			color: currentColor;
		}
	}
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock