mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		img(src="img/@2x/head-bg.jpg" loading="lazy", alt="")
		.td
			.container

				+b.section-title--before.text-center
					h1 Бетон с&nbsp;доставкой в&nbsp;Москве и&nbsp;московской области
					+e.text Доставка бетона в&nbsp;день заказа
				+form-h()
			+e.scroll-down
				+icon('chevron-down')
	// end headerBlock