mixin sDiscount()
	// start sDiscount
	+b.SECTION.sDiscount.section#sDiscount&attributes(attributes)
		.container
			+e.inner
				+e.text
					+b.section-title--before
						h2 Получите скидку&nbsp;50% на&nbsp;доставку бетона
					p Отправьте заявку и&nbsp;получите скидку&nbsp;50% на&nbsp;доставку бетона по&nbsp;Москве и&nbsp;Московской области
					+e.btn(href="#") Получить скидку
					+pic("truck.png")
	// end sDiscount