extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAdvanteges/_sAdvanteges.pug
include ../blocks/sServises/_sServises.pug
include ../blocks/sSeeAlso/_sSeeAlso.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Стройматериалы'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+top-nav()
	+head(title)
	+sContent()
		p Песок&nbsp;&mdash; рыхлая осадочная горная порода с&nbsp;величиной зёрен от&nbsp;0,16-5&nbsp;мм. Применяется как наполнитель при производстве бетона, бетонных смесей. В&nbsp;строительстве используется для возведения искусственных насыпей, устройства подушки для фундаментов, производстве декоративных работ в&nbsp;придворовых территориях.

		p: strong Наша компания поставляет:

		ul
			li #[strong Карьерный песок]&nbsp;&mdash; универсальный материал не&nbsp;подверженный ни&nbsp;механической ни&nbsp;гидроочистке.
			li #[strong Мытый карьерный песок]&nbsp;&mdash; добывается с&nbsp;промыванием большим количеством воды, в&nbsp;результате из&nbsp;него вымываются глина и&nbsp;пылеватые частицы.
			li #[strong Сеяный карьерный песок]&nbsp;&mdash; песок, освобождённый от&nbsp;крупных фракций механическим путём.

		.row
			mixin item(i, t)
				.col-md-4
					+e.item
						+e.img-wrap(href="#")
							img(src=`img/@2x/04-1-${i}.jpg` loading="lazy", alt="")
							+e.DIV.title!= t

			+item(1, `Карьерный песок`)
			+item(2, `Мытый карьерный песок`)
			+item(3, `Сеяный карьерный песок`)

	//- +sAdvanteges
	//- +sServises
	//- +sSeeAlso
	+footer()


	