extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAdvanteges/_sAdvanteges.pug
include ../blocks/sServises/_sServises.pug
include ../blocks/sSeeAlso/_sSeeAlso.pug
include ../blocks/sBMaterials/_sBMaterials.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Услуги'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+top-nav()
	+head(title)
	+sContent()
		p Компания МегатонБетон снабжает бетоном стройки Москвы и&nbsp;Московской области с&nbsp;2014&nbsp;года. За&nbsp;это время компания накопила массу положительных отзывов и&nbsp;железобетонную репутацию надежного партнёра. Поставки осуществляются с&nbsp;собственных производств удобно расположенных по&nbsp;Московской области местах, что позволяет быстро и&nbsp;без лишних затрат доставить бетон на&nbsp;ваши объекты собственным автопарком который насчитывает 22&nbsp;миксера разного объёма по&nbsp;7&nbsp;м3&nbsp;и&nbsp;10&nbsp;м3.

		p Наша компания участвует в&nbsp;снабжении строек входящих в&nbsp;Московскую программу реновации.

		p Для производства мы&nbsp;используем только высококачественное сырье, высокий класс которого подтвержден сертификатами. Качество на&nbsp;выходе контролирует лаборатория забирая пробы с&nbsp;каждой поставки, это позволяет быть уверенным в&nbsp;том, что вы&nbsp;получаете именно&nbsp;то, что заказываете.

		p Закажите бетон у&nbsp;нас прямо сейчас и&nbsp;мы&nbsp;доставим заказ в&nbsp;кротчайшие сроки. При необходимости наш технолог поможет определиться с&nbsp;выбором марки подходящей для ваших задач.


	+sServises()
	+footer()


	