
	// start .sContent
	.sContent {
		 +.sDiscount{
			 padding-top: 0;
		 }
		 +.sServises{
			 padding-bottom: rem(90);
			 margin-top: rem(-37);
		 }
		p{
			margin-bottom: rem(23);
		}

		&__item{
			// min-height: calc(100 - 10px);
			margin-bottom: rem(15);
			@include block(362, 264);
			color: #ffffff !important;
			border-radius: rem(5);
			overflow: hidden;
			background: #272727;
			&:hover{
				img{
					opacity: 0.75;
				}
			}
			img{
				@include mt;
				position: absolute;
				left: 0;
				top: 0;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}

			// &:hover{
			// 	opacity: 0.3;
			// }
		}

		&__title{
			color: $body-color;
			text-align: center;
			@include media-breakpoint-up(md) {
				margin-bottom: rem(23);
			}
			margin-bottom: rem(15);
		}
		
		li{
			list-style: none;
			position: relative;
			margin-bottom: 1rem;
		}
		ul{
			li{
				padding-left: rem(15);
				&::before{
					content: '';
					width: rem(5px);
					height: rem(5px); 
					background:$primary;
					position: absolute;
					left: 0;
					border-radius: 50%;
					top: rem(10);
				}
			}
		}
		&__pay-item{
			display: flex;
			align-items: center;
			// padding-top: rem(14);
			padding-bottom: rem(35);
			img{
				flex-shrink: 0;
			}
		}
		th,
		td{
			@include media-breakpoint-up(sm) {

				padding-left: rem(30);
			}
		}

		&__map-wrap{
			margin-bottom: rem(60);
			border: 1px solid #E8E8E8;
			box-sizing: border-box;
			border-radius: 5px;
			position: relative;
			overflow: hidden;
			// @include block(1146, 450);
			height: 450px;
			img{
				object-fit: cover;
			}
			> * {
				position: absolute;
				height: 100%;
				width: 100%;
				left: 0;
				top: 0;
			}
		}
	&__btn{
		@extend .btn;
		@extend .btn-primary;
		.icon{
			font-size: rem(30);
			margin-right: rem(10);
		}
		&--map{
			display: flex;
			justify-content: center;
			align-items: center;
			width: rem(220);
			margin-bottom: rem(30);
		}
	}
	&__form-block{
		margin-left: auto;
		margin-right: auto;
		padding: rem(45) rem(20);
		background: #F9F9F9;
		border-radius: 5px;
		margin-bottom: rem(25);
	}

	&__head-img-wrap{
		// @include block()
		height: rem(360);
		margin-bottom: rem(60);
		img{
			object-position: center;
		}
	}

	p,
	li{
		a{
			border-bottom: 1px solid;
			@include media-breakpoint-up(sm) { 
				&:hover{
					border-color: transparent;
				}
			}
		}
	}

	&__slider-wrapper{
		position: relative;
		margin-bottom: rem(60);

	}
	&__slider{
		margin-left: auto;
		margin-right: auto;
		max-width: rem(588);
		img{
			border-radius: 5px;
			position: relative;
			overflow: hidden;
		}
	}
	ol{
			counter-reset: num;
			padding-left: 0;
		li{
			&::before {
				content: counter(num)'.';
				counter-increment: num;
				color: $primary;
				font-weight: bold;
			}
		}
	}

	&__warning{
		background:  rgba($color: $primary, $alpha: .1); 
		border-radius: 5px;
		display: flex;
		align-items: center;
		@include media-breakpoint-up(sm) {
			
			padding: rem(20) rem(30);
		}
		padding: rem(20) rem(15);
		margin-bottom: 1rem;
		strong{
			max-width: rem(1050);
		}
		.icon{
			font-size: rem(30);
											@include media-breakpoint-up(sm) {
			margin-right: 1rem;
		}
		margin-right: .8rem;
			color: $primary;
			flex: 0 0 auto;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
 
	@include media-breakpoint-down(xs) {} 
	
} // end.sContent

// .section--04{
// 	@include media-breakpoint-up(sm) {
// 		padding-bottom: 34px;
// 	}
// 	padding-bottom: 17px;
// }

@include media-breakpoint-up(lg) {
	
	.column-lg-3{
		columns: 3;
	}
}

@include media-breakpoint-up(sm) {
	
	.column-sm-2{
		columns: 2;
	}
}


[aria-labelledby="id-66-title"] {
	display: none !important;
}

#chartdiv {
	width: 100%;
	height: rem(350);
	margin-bottom: rem(60);
	@include media-breakpoint-down(sm) {
		polyline,
		[aria-describedby="id-254-description"],
		[aria-describedby="id-250-description"],
		[aria-describedby="id-244-description"]{
			display: none;
		}
	} 
}