
	// start .sContent
	.sContent {
		 +.sDiscount{
			 padding-top: 0;
		 }
		p{
			margin-bottom: rem(23);
		}
		
		&__item{
			padding-top: 36px;
		}

		&__img-wrap{
			display: block;
			max-width: 362px;
			flex: 0 0 rem(362);
			margin-bottom: 15px;
			border-radius: rem(5);
			overflow: hidden;
			// object-fit: cover;
			img{
				width: 100%;
				height: auto;
			}
		}

		&__title{
			color: $body-color;
			text-align: center;
		}
		
		li{
			list-style: none;
			position: relative;
			margin-bottom: 1rem;
		}
		ul{
			li{
				padding-left: rem(15);
				&::before{
					content: '';
					width: rem(5px);
					height: rem(5px); 
					background:$primary;
					position: absolute;
					left: 0;
					border-radius: 50%;
					top: rem(10);
				}
			}
		}
		&__pay-item{
			display: flex;
			align-items: center;
			// padding-top: rem(14);
			padding-bottom: rem(35);
			img{
				flex-shrink: 0;
			}
		}
		td{
			padding-left: rem(30);
		}

		&__map-wrap{
			margin-bottom: rem(60);
			border: 1px solid #E8E8E8;
			box-sizing: border-box;
			border-radius: 5px;
			position: relative;
			overflow: hidden;
			// @include block(1146, 450);
			height: 450px;
			img{
				object-fit: cover;
			}
			> * {
				position: absolute;
				height: 100%;
				width: 100%;
				left: 0;
				top: 0;
			}
		}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
 
	@include media-breakpoint-down(xs) {} 

} // end.sContent

.section--04{
	@include media-breakpoint-up(sm) {
		padding-bottom: 34px;
	}
	padding-bottom: 17px;
}

@include media-breakpoint-up(lg) {

	.column-lg-3{
		columns: 3;
	}
}

@include media-breakpoint-up(sm) {

	.column-sm-2{
		columns: 2;
	}
}
