mixin sSteps()
	// start sSteps
	+b.SECTION.sSteps.section#sSteps&attributes(attributes)
		.container
			+b.section-title--before.text-center
				h2 Этапы работы
				+e.text Прайс-лист с&nbsp;актуальными ценами на&nbsp;бетон в&nbsp;Москве и&nbsp;Московской области
				
			.row
				mixin item(i, t, p)
					+e.col.col-xl.col-md-4.col-sm-6
						+e.item
							+e.img-wrap
								img(src=`img/svg/step-${i}.svg` loading="lazy", alt="")
							+e.title!= t
							p!= p
				+item(`1`,`Заявка`,`Вы&nbsp;оставляете заявку на&nbsp;сайте либо звоните по&nbsp;указанному телефону в&nbsp;наш отдел продаж`)
				+item(`2`,`Расчет стоимости`,`Наши менеджеры рассчитают для Вас полную стоимость заказа с&nbsp;учётом доставки на&nbsp;Ваш объект`)
				+item(`3`,`Отгрузка`,`Мы&nbsp;отгрузим бетон с&nbsp;ближайшего к&nbsp;Вам завода для уменьшения стоимости доставки`)
				+item(`4`,`Доставка`,`Заказ будет доставлен в&nbsp;точно в&nbsp;срок со&nbsp;всеми сопроводительными документами, возможна доставка в&nbsp;тот&nbsp;же день`)
				+item(`5`,`Оплата`,`Оплата осуществляется по&nbsp;наличному и&nbsp;безналичному расчету`)
			+e.btn(href="#") Оставить заявку
	// end sSteps