mixin s404()
	// start s404
	+b.s404.section#s404&attributes(attributes)
		.container
			+e.title Страница не найдена
				img(src="img/@2x/smile.png" loading="lazy", alt="")
			+e.text Неправильно набран адрес, или такой страницы не&nbsp;существует.
			+e.center
				+pic('truck.png')
			+e.btn(href="#") Перейти на главную
	// end s404