
	// start .s404
	.s404 {
		height: 100%;
		background: #272727;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		min-height: calc(var(--vh, 1vh) * 100);
		&__title{
			color: #ffffff;
			@include rfs(70px);
			font-weight: 800;
			margin-bottom: rem(20);
			line-height: 1;
			position: relative;
			z-index: 5;
			img{
				width:  (5em / 7);
				margin-left: (8em /70);
			}
		}
		&__text{
			position: relative;
			z-index: 5;
			color: #888888;
				@include media-breakpoint-up(xl) {}
			margin-bottom: rem(50);
		}
		picture{
			position: relative;
			margin-bottom: rem(50);
			z-index: 2;
			padding: 0 13%;
			img{
				max-height: 100%;
				max-height: calc(100vh - #{rem(320px)});
			}
			&::before{
				content: '404';
				@media (min-width: 144px){
						font-size: rem(560);
				}
				@include rfs(450px);
				font-weight: 800;
				@include a-cent;
				z-index: -1;
				color: #1b1b1b;
			}
		}
		&__btn{
			margin-left: auto;
			margin-right: auto;
			@extend .btn-section;
			position: relative;
			z-index: 100;
		}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.s404