mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.main-row.row
				.col-auto
					+e.logo
						.d-none.d-sm-block
							a(href="/")
								img(src="img/svg/logo.svg", alt="")
						.d-sm-none
							a(href="/")
								svg(width='40', height='40', viewBox='0 0 40 40', fill='none', xmlns='http://www.w3.org/2000/svg')
									path(d='M2.06373 2.36605C8.01214 3.2154 14.0212 3.57941 19.9697 3.57941C25.9181 3.57941 31.9272 3.15473 37.8756 2.36605V37.4928C31.9272 36.7041 25.9181 36.2794 19.9697 36.2794C14.0212 36.2794 8.01214 36.7041 2.06373 37.4928V2.36605ZM40 0C33.3839 1.03136 26.6464 1.57737 19.9697 1.57737C13.2929 1.57737 6.61609 1.03136 0 0C0 13.347 0 26.6332 0 39.9802C6.61609 38.9488 13.2929 38.4635 19.9697 38.4635C26.6464 38.4635 33.3232 38.9488 39.9393 39.9802C40 26.6332 40 13.2863 40 0Z', fill='#F09C1A')
									path(d='M21.365 13.043V27.846H17.6017V19.8378L14.0205 25.7832H13.6564L10.0752 19.8378V27.7853H6.31189V13.043H10.0752L13.7777 19.3524L17.541 13.043H21.365Z', fill='#272727')
									path(d='M29.7418 19.1098C30.9558 19.1098 31.9876 19.5344 32.8374 20.3838C33.6872 21.2331 34.1121 22.2645 34.1121 23.4779C34.1121 24.6912 33.6872 25.7226 32.8374 26.5719C31.9876 27.4213 30.9558 27.846 29.7418 27.846H24.4004V13.043H32.8981V14.0743H25.493V19.1098H29.7418ZM29.7418 26.7539C30.6523 26.7539 31.3807 26.4506 32.0483 25.7832C32.6553 25.1159 33.0195 24.3272 33.0195 23.4172C33.0195 22.5072 32.716 21.7185 32.0483 21.1118C31.4414 20.4445 30.6523 20.1411 29.7418 20.1411H25.493V26.7539H29.7418Z', fill='#272727')

				.col
					+e.row.row
						.col-auto.d-none.d-lg-block
							+e.link(href="#") 
								+icon('calc')
								| Калькулятор
						.col
							.d-none.d-lg-block
								+e.link.link-modal(href="#modal-orderBeton") 
									+icon('flag')
									| Заказать бетон
						.col-auto.d-none.d-lg-block
							+e.mail(href="mailto:info@megatonbeton.ru") info@megatonbeton.ru
						.col-auto
							+e.link--tel(href="tel:+7(977)833-58-89") 
								+icon('call')
								| +7 (977) 833-58-89
						.col-auto.d-none.d-sm-block
							+e.btn.link-modal(href="#modal-call") Заказать звонок
						.col-auto.d-lg-none
							+b.toggle-menu-mobile--js.d-lg-none
								span
					+e.menu-wrap 
						+e.mobile-menu-head.d-lg-none
							.container
								+e.row.row
									+e.col-mobile.col-sm-auto.col-6
										+e.link(href="#") 
											+icon('calc')
											| Калькулятор
									+e.col-mobile.col
										+e.link(href="#") 
											+icon('flag')
											| Заказать бетон
									+e.col-mobile.col-sm-auto.text-center
										+e.mail(href="mailto:info@megatonbeton.ru") info@megatonbeton.ru
						+e.mobile-menu-body
							.container.px-0
								+mnu()
					
					
	// end top-nav