 
	  
.soc{
	margin: 0 rem(-5px);
	display: flex;
	&__item{
		text-decoration: none !important;
		margin: 0 rem(5px);
		vertical-align: middle;
		@include mt;
		display: block;
		background: #474747;
		color: #ffffff !important;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(30);
		height: rem(30);

		
			 // box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			 @include media-breakpoint-up(sm){

				  &--vk:hover{
						background: #4A76A8;
					}

				  &--instagram:hover {
						background: #E94754;
					}
				  &--fb:hover {
						background: #1877F2;
					}
				} 
		
	}
	.icon{
	font-size: rem(20);
	}
	 

}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

