mixin sArticals()
	// start sArticals
	+b.sArticals#sArticals&attributes(attributes)
		.container
			.row
				mixin item(i,t)
					+e.col.col-lg-4 
						+e.img-wrap.bg-wrap(href="#")
							+pic(`artical-${i}`,'bg',0)(class="picture-bg") 
						+e.DIV.title= t
						p Большинство начинающих строителей уверены, что после освобождения бетона от опалубки при затвердевании раствора...
						+e.btn(href="#") Читать далее
					// /+e.col.col-4
				- for (var x = 0; x < 3; x++)
					+item("1",'Уход за бетоном после заливки')
					+item("2",'Ленточный фундамент, особенности залития')
					+item("3",'Бетон для плитного фундамента')
			+pugin()
	// end sArticals