mixin mnu()
	-
		var nav= { 
			"Марки бетона":"#",
			"Стройматериалы":"#" ,
			"Прайс-лист":"#",
			"Услуги":"#",
			"Доставка":"#",
			"Контакты":"#",
			}
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		li.menu-item
			a(href="#" itemprop="url") Главная
		li.menu-item.menu-item-has-children
			a(href="#" itemprop="url") Компания
			ul.sub-menu
				-
					var subnav= { 
						"О компании":"#",
						"Оплата":"#",
						"Реквизиты":"#",
						"Адреса заводов":"#",
						"Статьи":"#",
						}
				each sublinkPatch, sublinkName in subnav
					li.menu-item(itemprop="item" ): a(href= sublinkPatch itemprop="url")= sublinkName
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName

